// Place all the styles related to the meetup_api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Universal Styles (in /views/layouts/application.html.erb)

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}

a {
  text-decoration: none;
  &:visited { text-decoration: none; }
}

li { list-style-type: none; }

#wrapper {
  min-height: 100%;
  position: relative;
}

header {
  h1 {
    // Title ("Freetups")
    text-align: center;
    margin: 0;
    padding: 22px 0 22px 0;

    background: white;
    color: #ed1c40;
    font-family: 'Leckerli One', cursive;
  }

  h2 {
    // Subtitle ("")
    margin: 0;
    padding: 44px 24px 60px 24px;
    text-align: center;

    background: #ed1c40;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
}

#content {

  .pageHead {
    // Black box, under subtitle
    position: absolute;
    top: 196px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    padding: 12px;
    background: #0f1721;
    border-radius: 4px;
    // text-align: center;
    color: white;
  }

}

footer {
  // Footer (Link to Github)
  // position: absolute;
  // bottom: 0;
  // height: 88px;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  background: #ed1c40;
  color: white;

  p {
    margin: 8px;
  }
  a {
    color: white;
  }
}

.github-corner {
  svg {
    fill:#151513;
    color:#fff;
    position: absolute;
    z-index: 10;
    top: 0;
    border: 0;
    right: 0;
  }
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
@media (max-width:500px){
  .github-corner:hover .octo-arm{animation:none}
  .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}
