// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eventsHeader {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  height: 44px;
}

#eventsList {
  margin: 8% 6% 6% 6%;
  padding: 0;
  border-top: 1px #ddd solid;
  border-radius: 4px;
  background: white;

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px #ddd solid;
    border-top: none;

    .groupEvent {

      .groupName {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: gray;
      }

      .eventName {
        margin: 0;
        font-size: 24px;
        color: black;
      }

    }

    .dateTime {
      span {
        color: gray;
      }
    }

    .eventDescription {
      padding: 12px;
      background: #F0647C;

      p {
        padding-top: 0;
      }

    }

  }

}
