// Place all the styles related to the meetup_api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;

  color: #ed1c40;
  font-family: 'Leckerli One', cursive;
}

h2 {
  margin: 0;
  padding: 5%;
  text-align: center;

  background: #ed1c40;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

form {
  padding: 12px;
  background: black;
  color: white;

  .zipcode, .submit {
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .zipcode {
    margin-right: 8px;
    color: lightgray;
  }

  .submit {
    background: #ed1c40;
    color: white;
  }

}
