// Meetup Form Styles

form {
  select,
  input[type='text'],
  input[type='submit'] {
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  select {
    margin-right: 8px;
    height: 44px;
  }

  input[type='text'] {
    margin-right: 8px;
    color: black;
  }

  input[type='submit'] {
    background: #ed1c40;
    color: white;
  }

}  //end form

.hero { display: block; }
